@if (!winner()) {
  <p>სვლა ეკუთვნის: {{ currentPlayer() }}-ს</p>
}
@if (winner() === 'Draw') {
  <p>ეს თამაში ფრეა!</p>
}
@if (winner() && winner() !== 'Draw') {
  <p>{{ winner() }}-მა გაიმარჯვა!</p>
}

<div class="board">
  @for (cell of board(); track $index) {
    <div class="cell" (click)="makeMove($index)">
      {{ cell }}
    </div>
  }

  @if (winningComboIndex() >= 0) {
    <div class="line line-{{ winningComboIndex() }}"></div>
  }
</div>

<button (click)="resetGame()">თამაშის თავიდან დაწყება</button>
